
<div >
    <table class="table">
        <tr>
            <th ng-hide= "field['hide']" ng-repeat="field in columns">{{field.label | translate}}</th>
            <th></th>
        </tr>
        <tr ng-hide= "field['hide']" ng-repeat="item in records" ng-include="getTemplate(item)"></tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <th></th>
            <td></td>
        </tr>
    </table>

   <script type="text/ng-template" id="display">
        <td  ng-hide= "field['hide']" ng-repeat="field in columns" ng-switch="checkDataFieldAvailable(item, field)" >
        <span ng-hide= "field['hide']" ng-switch-when="true">{{item[field['name']]}}</span>
        <span ng-hide= "field['hide']" ng-switch-when="false">-</span>
        </td>  
        <td>    
        <button class="btn btn-default ng-binding btn-xs" ng-click="editItem(item)">{{ 'ngAdmin.static.EDIT' | translate }}</button>
        <button class="btn btn-default ng-binding btn-xs" ng-click="removeItem($index)">{{ 'ngAdmin.static.DELETE' | translate }}</button>
        </td>
  </script>

<script type="text/ng-template" id="edit">
        <td  ng-hide= "field['hide']" ng-repeat="field in columns" ng-switch="isExpression(field)">
            <input  ng-hide= "field['hide']" ng-readonly= "field['readonly']" type="{{field.type}}" ng-model="item[field['name']]" class="form-control input-xs" ng-switch-when="false">
            
            <span  ng-switch-when="true" ng-if = "checkDataFieldAvailable(item, field) == 'true'"> {{item[field['name']]}}</span>
            <span  ng-switch-when="true" ng-if = "checkDataFieldAvailable(item, field) == 'false'">-</span>
        </td>  
        <td>
        <button class="btn btn-default ng-binding btn-xs" ng:click="saveItem($idx)">{{ 'ngAdmin.static.SAVE' | translate }}</button>
        <button class="btn btn-default ng-binding btn-xs" ng:click="reset()">{{ 'ngAdmin.static.CANCEL' | translate }}</button>
        </td>
</script>
</div>
