<div ng-switch="field.isDetailLink() && hasRelatedAdmin()">
    
    <table class="grid table table-condensed table-hover table-striped">
        <tr>
            <td ng-hide= "col['hide']" ng-repeat="col in columns" > {{col['label'] | translate}}  </td>
            <!--<td></td>--> 
        </tr>
       
        <tr ng-hide= "col['hide']" ng-switch-when="true" ng-repeat="ref in entry.values[field.name()] track by $index">
            <td ng-hide= "col['hide']" ng-repeat="col in columns"> {{ref[col['name']]}} </td>
            <!--
            <td> <a ng-click="gotoReference(entry.values[field.name()][$index])" class="multiple">link</a></td>
            -->
        </tr>
    </table>

    <span ng-hide= "col['hide']"  ng-switch-default ng-repeat="ref in entry.values[field.name()] track by $index" >
        <span  ng-hide= "col['hide']" class="label label-default">
            {{ ref }}
        </span>
    </span>
</div>
