<div class="row">

    <view-actions override="deleteController.actions" entry="entry" entity="view.entity">
        <list-button entity="entity"></list-button>
    </view-actions>

    <div class="page-header">
        <!-- <h1 compile="deleteController.title">
            Delete {{ deleteController.view.entity.name() | humanize:true | singularize }}  #{{ entry.identifierValue }}
        </h1> -->
        <h1 compile="deleteController.title">
             {{'ngAdmin.static.DELETE' | translate}} {{ 'ngAdmin.entities.' + deleteController.view.entity.name() |translate | humanize:true | singularize }} "{{ entry.values.label }} {{ entry.values.name ? entry.values.name : entry.values.label }}
            {{ entry.values.fullname ? entry.values.fullname : entry.values.authority }}"
        </h1> 
        <p class="lead" ng-if="deleteController.description">{{ deleteController.description }}</p>
    </div>

</div>

<div class="row" id="edit-container">
    <p>{{'ngAdmin.static.ARE_SURE' | translate}}</p>
    <button class="btn btn-danger" ng-click="deleteController.deleteOne()">{{'ngAdmin.static.YES' |translate}}</button>
    <button class="btn btn-default" ng-click="deleteController.back()">{{'ngAdmin.static.NO'|translate}}</button>
</div>
